@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

:root {
    --primary: #00C1FE;
    --secondary: #4b585c;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Mobile View!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media screen, (min-width: 300px) and (max-width: 375px) {
* {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;

}

body {
    height: 100%;
    overflow-x: auto;
    background: black;
    font-family: 'Exo 2', sans-serif;
    color: white;
}
header {
    display: block;
}
.logo {
    margin-top: 1em;
    margin-left: 1em;
    height: 6em;
    width: 10em;
}
.links {
    text-align: right;
    font-size: 1em;
    margin-bottom: 2em;
    margin-right: 1.5em;
    margin-top: 1em;
    float: right;
    list-style-type: none;
    cursor: pointer;
    z-index: 1000000;
}
li {
    margin-bottom: .5em;
}
li a {
    text-decoration: none;
    list-style-type: none;
}
a:visited {
    color: white;
}

li a:hover {
    color: var(--primary);
}
.polygon {
    height: 60em;
    width: 60em;
    top: 10em;
    position: absolute;
    left: 20em;
    animation: spin 2s linear forwards;
}
@keyframes spin {
    from {
        opacity: 0%;
        color: white;
        stroke-dasharray: 500;
        stroke-dashoffset: 1000;
    }
    to {
        opacity: 100%;
        stroke-dasharray: 0;
        stroke-dashoffset: 100;
    }
}

/*See what this will do for $E0!!!!!!*/
.Development_CTA {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    left: 3em;
    top: 20em;
    height: 20em;
    width: 20em;
}
.Web-design_h3 {
    position: relative;
    font-size: 2em;
    margin-bottom: 2em;
}
.Web-design_h1 {
    position: relative;
    font-size: 3em;
    color: var(--primary);

}

.btn {
    width: 5em;
    border: none;
    position: relative;
    margin-top: 3em;
    color: black;
    background-color: var(--primary);
    border-radius: 5%;
    left: 29%;
    font-size: 2em;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 10px 10px 10px 1px rgba(255,255,255, 0.80);
    color: var(--primary);
    background-color: var(--secondary);
}
.polygon1 {
    position: absolute;
    top: 50em;
    left: 2em;
    animation: bounce 5s ease-in-out forwards;
}
@keyframes bounce {
    from{

        opacity: 0%;
    }
    to {
        rotate: 180deg;
    }
    
}
.polygon2 {
    left: 2em;
    position: absolute;
    top: 55em;
    animation: here 5s ease-in-out forwards;
}
@keyframes here {
    from{
        top: 80em;
    }
    to{
        top: 55em;
    }
}
.contact-CTA {
    position: absolute;
    display: flex;
    top: 5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40em;
    
}
.contact-info {
    position: relative;
    top: -8em;
}
li {
    list-style-type: none;
}
.contact-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--secondary);
    height: 20em;
    width: 15em;
    left: 50%;
    top: 45%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}
.name, .email, .message {
    bottom: 2em;
    position: relative;
    color: white;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    border-bottom: 3px solid var(--primary);
    background-color: transparent;

}
.submit {
    font-size: 1em;
    width: 60%;
    height: 2em;
    margin-top: 1em;
    background-color: var(--primary);
    border: none;
    border-radius: 10%;
}
.contact-poly-div {
    position: absolute;
    top: 35em;
    left: 12em;
}
.contact-polygon {
    top: 80em;
}
.contact-poly-div1 {
    position: absolute;
    bottom: 3em;
    left: 1em;
}
.contact-polygon1 {
    position: relative;
    animation: bounce 5s ease-in-out forwards;
}
@keyframes bounce {
    from{

        opacity: 0%;
    }
    to {
        rotate: 180deg;
    }
    
}
.contact-poly-div2 {
    position: absolute;
    bottom: 2em;
    left: 1em;
}
.contact-polygon2 {
    position: relative;
    animation: here 5s ease-in-out forwards;
}
@keyframes here {
    from{
        top: 30em;
    }
    to{
        top: 1.5em;
    }
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Desktop view !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media screen and (min-width: 930px) {
    * {
        padding: 0;
        margin: 0;
        font-family: 'Exo 2', sans-serif;
    
    }
    body {
        height: 100%;
        overflow-x: auto;
        background: black;
        font-family: 'Exo 2', sans-serif;
        color: white;
    }
    .logo {
        height: 8em;
        width: 14em;
    }
    .links {
        margin-right: 2em;
        font-size: 1.5em;
    }
    .Development_CTA {
        position: absolute;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        left: 13em;
        top: 15em;
        height: 20em;
        width: 60em;
    }
    /*See what this will do for $E0!!!!!!*/

.Web-design_h3 {
    position: relative;
    font-size: 2em;
    margin-bottom: 2em;
}
.Web-design_h1 {
    position: relative;
    font-size: 3em;
    color: var(--primary);

}

.btn {
    width: 5em;
    border: none;
    position: relative;
    margin-top: 3em;
    color: black;
    background-color: var(--primary);
    border-radius: 3%;
    left: 12.75em;
    font-size: 2em;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 1px 1px 10px 1px rgba(255,255,255, 0.80);
    color: var(--primary);
    background: var(--secondary);
}
    .polygon {
        position: relative;
        height: 50em;
        width: 50em;
        left: -10em;
        top: -1em;
    }
    .poly-div {
        position: absolute;
        top: 0;
        left: 80em;
    }

    .polygon1 {
        position: relative;
        left: 2em;
        animation: bounce 5s ease-in-out forwards;
    }
    @keyframes bounce {
        from{
    
            opacity: 0%;
        }
        to {
            rotate: 180deg;
        }
        
    }
    .poly-div1{
        height: 10em;
        width: 10em;
        position: absolute;
        bottom: 50em;
    }
    .poly-div2 {
        position: absolute;
        bottom: 57em;
    }
    .polygon2 {
        left: 2em;
        position: relative;
        animation: here 5s ease-in-out forwards;
    }
    @keyframes here {
        from{
            top: 80em;
        }
        to{
            top: 55em;
        }
    }

    .contact-form {
        border: 5px solid var(--secondary);
    }
}
