@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

:root {
    --primary: #00C1FE;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Desktop view !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media screen and (max-width: 920px) {
    * {
        padding: 0;
        margin: 0;
        font-family: 'Exo 2', sans-serif;
    
    }
    .links {
        margin-right: 2em;
    }
    .polygon {
        position: absolute;
        left: 500em;
    }
    
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Mobile View!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;

}

body {
    height: 100%;
    overflow-x: auto;
    background: black;
    font-family: 'Exo 2', sans-serif;
    color: white;
}
header {
    display: block;
}
.logo {
    margin-top: 1em;
    margin-left: 1em;
    height: 6em;
    width: 8em;
}
.links {
    text-align: right;
    font-size: 1em;
    margin-bottom: 2em;
    margin-right: 1.5em;
    margin-top: 1em;
    float: right;
    list-style-type: none;
    cursor: pointer;
    z-index: 1000000;
}
li {
    margin-bottom: .5em;
}
li a {
    text-decoration: none;
    list-style-type: none;
}
a:visited {
    color: white;
}
a:visited {
    color: none;
}
li a:hover {
    color: var(--primary);
}
.polygon {
    height: 60em;
    width: 60em;
    top: 10em;
    position: absolute;
    left: 20em;
    animation: spin 2s linear forwards;
}
@keyframes spin {
    from {
        opacity: 0%;
        color: white;
        stroke-dasharray: 500;
        stroke-dashoffset: 1000;
    }
    to {
        opacity: 100%;
        stroke-dasharray: 0;
        stroke-dashoffset: 100;
    }
}

/*See what this will do for $E0!!!!!!*/
.Development_CTA {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    left: 2em;
    top: 20em;
    height: 20em;
    width: 20em;
}
.Web-design_h3 {
    position: relative;
    font-size: 2em;
    color: var(--primary);
    margin-bottom: 2em;
}
.Web-design_h1 {
    position: relative;
    font-size: 3em;

}

.btn {
    width: 5em;
    border: none;
    position: relative;
    margin-top: 3em;
    color: black;
    background-color: var(--primary);
    border-radius: 5%;
    left: 29%;
    font-size: 2em;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 10px 10px 10px 1px rgba(255,255,255, 0.80);
    color: red;
}
.polygon1 {
    position: absolute;
    top: 50em;
    left: 2em;
    animation: bounce 5s ease-in-out forwards;
}
@keyframes bounce {
    from{

        opacity: 0%;
    }
    to {
        rotate: 180deg;
    }
    
}
.polygon2 {
    left: 2em;
    position: absolute;
    top: 55em;
    animation: here 5s ease-in-out forwards;
}
@keyframes here {
    from{
        top: 80em;
    }
    to{
        top: 55em;
    }
}